{% extends "layouts/main.twig" %}
{% block title %}Index{% endblock %}

{% block content %}
    <p>Регистрация пользователя</p>
    <form action="" method="post">
        <input type="text" placeholder="login" name="login">
        <input type="password" placeholder="password" name="password">
        <input type="number" placeholder="is_admin" name="is_admin">
        <input type="submit">
    </form>
{% endblock %}