{% extends "layouts/main.twig" %}
{% block title %}Index{% endblock %}

{% block content %}
    <h2>Пользователь</h2>
        логин: {{ user.login }} <br>
    {% if admin.is_admin == "1" %}
        <a href="/?c=user&a=edit&id={{ user.id }}">Изменить пользователя</a>
    {% endif %}
        <hr>
{% endblock %}